.tiles {
    padding: 0 15px;
    margin-bottom: 20px;
}

.tiles .inner {
    display: flex;
    flex-direction: column;
}

.tile {
    margin: 0 0 7px;
    position: relative;
}

.tile .img-cont {
    position: relative;
}

.tile .img-cont img {
    display: block;
    width: 100%;
}

.tile .img-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition: background 0.4s ease-in-out;
}

.tile .img-cont::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 1px solid #413e3b;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.tile .slide-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding: 15px;
    text-align: center;
}

.tile .slide-content h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    color: white;
    transition: color 0.4s ease-in-out;
}

.tile .slide-content .desc {
    display: none;
    color: #413e3b;
    transition: margin 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

@media (min-width: 641px) {
    .tiles .inner {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -6px;
    }
    .tile {
        margin: 0 3px 6px;
        width: calc(50% - 6px);
    }
}

@media (min-width: 1025px) {
    .tiles {
        padding: 0;
        overflow: hidden;
    }
    .tile {
        width: calc(33.3333% - 6px);
    }
    .tile .slide-content {
        padding: 15px 25px;
    }
    .tile .slide-content h3 {
        font-size: 36px;
        line-height: 40px;
    }
    .tile .slide-content .desc {
        display: block;
        opacity: 0;
        margin-bottom: -100%;
    }
    .tile:hover .img-cont::before {
        background-color: rgba(255,255,255,0.7);
    }
    .tile:hover .slide-content h3 {
        color: #413e3b;
    }
    .tile:hover .slide-content .desc {
        margin-bottom: 0;
        opacity: 1;
    }
    .tile:hover .img-cont::after {
        opacity: 0.7;
    }
}

/* end tiles */

.banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 70px 1fr;
}

.banner .img-cont {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 0 15px;
}

.banner .img-cont img {
    display: block;
    width: 100%;
}

.banner .slide-content {
    grid-column: 1/2;
    grid-row: 2/4;
    position: relative;
    background-color: #413e3b;
}

.banner .inner-content {
    padding: 25px 15px;
}