.tiles {
    padding: 0 15px;
    margin-bottom: 20px;
}

.tiles .inner {
    display: flex;
    flex-direction: column;
}

.tile {
    margin: 0 0 7px;
    position: relative;
}

.tile .img-cont {
    position: relative;
}

.tile .img-cont img {
    display: block;
    width: 100%;
}

.tile .img-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition: background 0.4s ease-in-out;
}

.tile .img-cont::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 1px solid #413e3b;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.tile .slide-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding: 15px;
    text-align: center;
}

.tile .slide-content h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    color: white;
    transition: color 0.4s ease-in-out;
}

.tile .slide-content .desc {
    display: none;
    color: #413e3b;
    transition: margin 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

@media (min-width: 641px) {
    .tiles .inner {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -6px;
    }
    .tile {
        margin: 0 3px 6px;
        width: calc(50% - 6px);
    }
}

@media (min-width: 1025px) {
    .tiles {
        padding: 0;
        overflow: hidden;
        margin-bottom: 60px;
    }
    .tile {
        width: calc(33.3333% - 6px);
    }
    .tile .slide-content {
        padding: 15px 25px;
    }
    .tile .slide-content h3 {
        font-size: 36px;
        line-height: 40px;
    }
    .tile .slide-content .desc {
        display: block;
        opacity: 0;
        margin-bottom: -100%;
    }
    .tile:hover .img-cont::before {
        background-color: rgba(255,255,255,0.7);
    }
    .tile:hover .slide-content h3 {
        color: #413e3b;
    }
    .tile:hover .slide-content .desc {
        margin-bottom: 0;
        opacity: 1;
    }
    .tile:hover .img-cont::after {
        opacity: 0.7;
    }
}

/* end tiles */

.banner {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 15px 1fr 15px;
    -ms-grid-columns: 15px 1fr 15px;
    grid-template-rows: min-content 70px 1fr;
    -ms-grid-rows: min-content 70px 1fr;
    z-index: 1;
    margin-bottom: 30px;
}

.banner .img-cont {
    position: relative;
    grid-column: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-row: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    z-index: 3;
    padding-bottom: 65%;
}

.banner .img-cont::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    pointer-events: none;
    border: 1px solid #589580;
    opacity: 0.8;
}

.banner .slide-content {
    grid-column: 1/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-row: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    position: relative;
    background-color: #413e3b;
    padding: 85px 15px 30px;
    z-index: 2;
    text-align: center;
}

.banner .slide-content h3 {
    color: white;
    font-size: 26px;
    text-align: left;
}

.banner .slide-content .desc {
    color: white;
    text-align: left;
}

.banner .slide-content .slide-link {
    display: inline-block;
    position: relative;
    padding: 13px 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    z-index: 1;
    background-color: #64513d;
}

.banner .slide-content .slide-link::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border: 1px solid #589580;
    opacity: 0.8;
}

@media (min-width: 700px) {
    .banner {
        grid-template-columns: 4.6fr 5.4fr;
        -ms-grid-columns: 4.6fr 5.4fr;
        grid-template-rows: 75px 1fr 75px;
        -ms-grid-rows: 75px 1fr 75px;
    }
    .banner .slide-content {
        grid-column: 1/2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-row: 2/3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner .slide-content .inner {
        width: 100%;
        max-width: 545px;
    }
    .banner .img-cont {
        grid-column: 2/3;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-row: 1/4;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
    }
}

@media (min-width: 1025px) {
    .banner {
        margin-bottom: 60px;
    }
    .banner .img-cont {
        margin-right: 55px;
        padding-bottom: 59%;
    }
    .banner .img-cont::after {
        content: "";
        width: 55px;
        background-color: #413e3b;
        position: absolute;
        top: 75px;
        right: 0;
        height: calc(100% - 150px);
        transform: translateX(100%);
    }
    .banner .img-cont::before {
        left: 20px;
        top: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
    }
    .banner .slide-content {
        text-align: left;
        padding: 60px 15px;
    }
    .banner .slide-content h3 {
        font-size: 36px;
        padding-right: 25px;
        line-height: 44px;
    }
    .banner .slide-content .slide-link {
        padding: 20px 30px;
        font-size: 20px;
    }
}

/* end banner */

.cards {
    padding: 0 15px;
    margin-bottom: 20px;
    overflow: hidden;
}

.cards .inner {
    display: flex;
    flex-direction: column;
}

.card {
    margin: 0 0 6px;
    position: relative;
    width: 100%;
}

.card .img-cont {
    position: relative;
    padding-bottom: 53%;
}

.card .img-cont::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
}

.card .img-cont::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #589580;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.card .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 10px 10px;
    transition: transform 0.4s ease-in-out;
    pointer-events: none;
}

.card .slide-content h3 {
    position: absolute;
    top: -5px;
    left: 10px;
    color: white;
    font-size: 22px;
    margin: 0;
    transform: translateY(-100%);
}

.card .slide-content .inner-content {
    padding: 12px;
    border: 1px solid white;
    display: none;
}

.card .slide-content .inner-content p {
    color: white;
    margin: 0;
}

.card .slide-content .inner-content a {
    color: white;
}

@media (min-width: 641px) {
    .cards {
        padding: 0;
    }
    .cards .inner {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -3px;
    }
    .card {
        margin: 0 3px 6px;
        width: calc(50% - 6px);
    }
}

@media (min-width: 1025px) {
    .cards {
        margin-bottom: 170px;
    }
    .card {
        width: calc(25% - 6px);
    }
    .card .img-cont {
        padding-bottom: 100%;
    }
    .card .slide-content {
        transform: translateY(100%);
    }
    .card .slide-content .inner-content {
        display: block;
    }
    .card:hover .img-cont::before {
        display: none;
    }
    .card:hover .img-cont::after {
        opacity: 0.6;
    }
    .card:hover .slide-content {
        transform: translateY(0);
    }
    .card .slide-content h3 {
        font-size: calc(32px + (38 - 32) * ((100vw - 1025px) / (1700 - 1025)));
        top: -25px;
        left: 25px;
    }
    .cards .card .slide-content a {
        font-weight: 400;
    }
    .cards .card .slide-content p > a {
        font-weight: bold;
    }
}

/* end cards */

.custom_imagebox img {
    display: block;
    width: 100%;
}

.custom_imagebox .slide-content {
    padding-top: 20px;
}

.custom_imagebox .slide-content h2 {
    font-size: 30px;
    margin: 0 0 10px;
}

.custom_imagebox .slide-content .desc {
    margin: 0;
}

@media (min-width: 1025px) {
    .custom_imagebox .slide-content h2 {
        font-size: 40px;
    }
}

/* end imagebox */

.highlight {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 35px;
}

.highlight .img-cont,
.highlight .slide-content {
    width: 100%;
}

.highlight .img-cont {
    padding-bottom: 100%;
}

.highlight .slide-content {
    position: relative;
    padding: 45px 30px;
    text-align: center;
    background: url("../includes/public/assets/images/tree-shape.png")right 10px bottom 10px/23% no-repeat;
    background-color: #f9f7f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight .slide-content .inner {
    width: 100%;
    max-width: 600px;
}

.highlight .slide-content::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    pointer-events: none;
    border: 1px solid #a09e9d;
}

.highlight .slide-content h2 {
    color: #589580;
    text-align: left;
    margin: 0 0 5px;
}

.highlight .slide-content .slide-link {
    display: inline-block;
    position: relative;
    padding: 13px 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    z-index: 1;
    background-color: #64513d;
}

.highlight .slide-content .slide-link::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border: 1px solid #589580;
    opacity: 0.8;
}

.highlight .slide-content .desc {
    text-align: left;
}

@media (min-width: 641px) {
    .highlight {
        flex-direction: row;
        min-height: 550px;
        padding: 0;
    }
    .highlight .img-cont,
    .highlight .slide-content {
        width: 50%;
    }
    .highlight .img-cont {
        padding: 0;
    }
    .highlight .slide-content h2 {
        font-size: 40px;
    }
}

@media (min-width: 1025px) {
    .highlight {
        min-height: 650px;
        margin-bottom: 90px;
    }
    .highlight .slide-content {
        text-align: left;
        background: url("../includes/public/assets/images/tree-shape.png")right 25px bottom -17px/18% no-repeat;
    }
    .highlight .slide-content .desc {
        width: 100%;
        max-width: 400px;
    }
    .highlight .slide-content .slide-link {
        padding: 18px 32px;
        font-size: 20px;
    }
    .highlight .slide-content h2 {
        font-size: calc(56px + (66 - 56) * ((100vw - 1025px) / (1700 - 1025)));
        line-height: calc(70px + (90 - 70) * ((100vw - 1025px) / (1700 - 1025)));
    }
}