/* .distanceSort{visibility: hidden;}
div [data-sv-distanceSort] {
    opacity: 0.5;
    pointer-events:none;
} */

.no-results{
    padding: 20px;
    text-align: center;
    min-height: 840px;
}
h4.no-results{
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    min-height: none;
}

.shared-layout {
    width: 100%;
    margin: 0 auto 30px;
    background: #413e3b;
    position: relative;
}

@media (min-width: 1025px) {
    .shared-layout {
        margin: 0 auto 80px;
    }
}

input.shared-input {}

input.shared-input.input-text {}

input.shared-input.input-checkbox {}

button.shared-submit {}


/* Custom styled checkboxes */

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    position: absolute;
    left: 1px;
    top: 4px;
    width: 18px;
    height: 18px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    font-family: "Font Awesome\ 5 Free";
    content: '\f0c8';
    color: transparent;
    position: absolute;
    top: 4px;
    left: 1px;
    font-weight: 900;
}

input[type="checkbox"]:checked + label:before {
    background-color: #ddbc33;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
    width: 16px;
    height: 16px;
    font-family: "Font Awesome\ 5 Free";
    font-size: 14px;
    content: '\f00c';
    color: #413e3b;
    position: absolute;
    top: 5px;
    left: 2px;
    padding: 0;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid white;
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

@media (min-width: 1025px) {
    input[type="checkbox"]:not(:checked):hover + label:after {
        opacity: 0.6;
        background-color: #ddbc33;
    }
}

.filters-wrapper {
    display: none;
    float: left;
    width: 320px;
}

.filters {
    padding: 25px 20px;
    background-color: #413e3b;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
}

.mobile-filters-wrapper .filters {
    padding: 30px 20px;
}

.filters .close {
    display: inline-block;
    width: 15px;
    height: 15px;
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.filters .close i {
    color: white;
}

.filters label {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}

.filters .form-group {
    position: relative;
}

.filters .form-group input::-webkit-input-placeholder {
    opacity: 1;
    color: #a09e9d;
}
.filters .form-group input::-moz-placeholder {
    opacity: 1;
    color: #a09e9d;
}
.filters .form-group input:-ms-input-placeholder {
    opacity: 1;
    color: #a09e9d;
}
.filters .form-group input:-moz-placeholder {
    opacity: 1;
    color: #a09e9d;
}

.filters input.shared-input.input-text {
    width: 100%;
    height: 37px;
    line-height: 37px;
    padding: 0 75px 0 15px;
    margin-right: 0;
    color: #a09e9d;
}

.desktop-filters .filters input.shared-input.input-text {
    height: 43px;
    line-height: 43px;
    margin-bottom: 30px;
}

.filters input.shared-input.input-text:focus{background: white;}

.filters button.shared-submit {
    position: absolute;
    right: 0;
    top: 0px;
    background-color: #64513d;
    height: 37px;
    margin: 0;
    padding: 7px 14px;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.desktop-filters .filters button.shared-submit {
    height: 43px;
}

.filters button.shared-submit:after { content: ' '; }

.filters h3 {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0;
}

.filters a.clear-filters {
    display: inline-block;
    background-color: #64513d;
    color: #fff;
    text-align: center;
    padding: 6px 20px;
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 15px;
}

.desktop-filters .filters a.clear-filters {
    padding: 15px 20px;
}

.filters a.clear-filters:hover {
    opacity: 0.8;
}

.filters h4 {
    margin: 0 0 10px;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
}

.desktop-filters .filters h4 {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 18px;
}

.filters ul.filter-items {
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
}

.desktop-filters .filters ul.filter-items {
    margin: 0 0 20px;
}

.filters input.disabled[type="checkbox"] + label,
.filters input.disabled[type="checkbox"] {
    display: none;
}

.filters ul.filter-items > li {
    position: relative;
    display: none;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

.filters ul.filter-items.showmore > li,
.filters ul.filter-items > li:nth-child(-n+5) {
    display: block;
}

.filters ul.filter-items > li > label {
    margin: 0;
}

.filters ul.filter-items > li > a {
    text-align: left;
}

.filters ul.filter-items > li span {
    color: white;
    margin-left: 7px;
}

.filters ul.filter-items > li.showmore {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ddbc33;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.results-wrapper {
    background-color: white;
}

.results {
    padding: 0 20px;
    text-align: center;
}

ul.options {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border-top: 1px solid #a09e9d;
}

ul.options > li {
    display: inline-block;
    vertical-align: top;
}

ul.options > li [data-sv-viewby="map"] {
    display: none;
}

@media (min-width: 1025px) {
    ul.options > li [data-sv-viewby="map"] {
        display: inline-block;
    }
}

ul.options > li.title,
ul.options > li.sort-title {
    padding: 10px 5px;
    font-size: 15px;
    line-height: 27px;
    padding-left: 15px;
    text-transform: uppercase;
    color: #413e3b;
    font-weight: bold;
}

ul.options > li > span { display: inline-block; }

.distanceSort {
    color: #a09e9d;
}

ul.options > li > a {
    display: inline-block;
    padding: 11px 12px 9px;
    font-size: 14px;
    line-height: 25px;
    color: #a09e9d;
    text-align: center;
    font-weight: normal;
}

@media (min-width: 1025px) {
    ul.options > li > a {
        font-size: 15px;
        line-height: 27px;
    }
}

ul.options > li > a.selected,
ul.options > li > a.active,
ul.options > li > a:hover { color: #589580; }

ul.options > li > a.active { font-weight: bold; }

ul.options > li > a.view-option.selected,
ul.options > li > a.view-option.active,
ul.options > li > a.view-option:hover {
    color: #589580;
    font-weight: bold;
}

ul.mobile-options {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0px;
    list-style: none;
    background-color: #413e3b;
    text-align: center;
    display: flex;
}

@media (min-width: 1025px) {
    ul.mobile-options {
        display: none;
    }
}

ul.mobile-options > li {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
}

ul.mobile-options > li:nth-child(2),
ul.mobile-options > li:last-child {
    position: relative;
}

ul.mobile-options > li > a > i {
    color: #98b8ad;
    margin-left: 5px;
    padding-top: 3px;
}

ul.mobile-options > li:nth-child(2) {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

ul.mobile-options li.sort-disabled {
    pointer-events: none;
    opacity: 0.5;
}

ul.mobile-options > li:last-of-type {
    border-right: 0;
}

ul.mobile-options > li > a {
    display: block;
    padding: 11px 15px 9px;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: white;
    text-align: center;
}

ul.mobile-options li.active > a .fa:not(.fa-search) {
    transform: rotate(180deg);
}

ul.mobile-options .options-dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 320px;
    z-index: 10;
    display: none;
}

ul.mobile-options [data-sv-distancesort] .options-dropdown {
    left: auto;
    right: 0;
    transform: none;
    text-align: right;
}

ul.mobile-options > li:first-child .options-dropdown {
    left: 0;
    transform: none;
}

ul.mobile-options .options-dropdown::before {
    display: block;
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
}

ul.mobile-options > li.active > .options-dropdown {
    display: block;
}

ul.mobile-options .options-dropdown.centered {
    right: 0;
    left: 0;
    width: 100%;
}

ul.mobile-options > li.active > .options-dropdown .mobile-filters-wrapper {
    position: relative;
    width: 100%;
    max-width: 430px;
    text-align: left;
    overflow-y: scroll;
    border-top: 1px solid white;
}

ul.mobile-options > li.active > .options-dropdown > ul.options {
    display: inline-block;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2), -2px 2px 4px rgba(0,0,0,0.2);
}

ul.mobile-options li.filter.active .tab-title::before {
    content: 'Close ';
}
ul.mobile-options li.filter.active a { padding: 11px 5px 9px; }


.shared-map .infoWindow {}

.shared-map .infoWindow h5 {
    margin: 0;
    font-size: 20px;
    line-height: 22px;
    color: #212121;
}

.shared-map .infoWindow h5 a { color: #212121; }

.shared-map .infoWindow ul.contactInfo {
    margin: 0;
    padding: 0;
    list-style: none;
}

.shared-map .infoWindow ul.contactInfo > li {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 22px;
    color: #616161;
}

.shared-map .infoWindow ul.contactInfo > li .shared-action-items span {
    padding-right: 10px;
}

.shared-map .infoWindow ul.contactInfo > li .shared-action-items a {
    color: #212121;
    text-transform: uppercase;
}

.shared-items-container {
    width: 100%;
}

.shared-items {
    margin-bottom: 4px;
}

.shared-items .container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 641px) {
    .shared-items .container {
        flex-direction: row;
    }
}

@media (min-width: 641px) {
    .shared-items .container {
        align-items: stretch;
    }
}

.shared-items .shared-item {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.shared-items .shared-item.featured {
    background-color: #ebe6e1;
}

.shared-items .shared-item {
    background-color: #f9f7f6;
}

.layout-grid .shared-items .shared-item {
    width: 100%;
    max-width: 275px;
    margin: 0 0 20px
}

@media (min-width: 641px) {
    .layout-grid .shared-items .shared-item {
        margin: 0 10px 20px;
        width: calc(50% - 20px);
    }
}

@media (min-width: 1025px) {
    .layout-grid .shared-items .shared-item {
        margin: 0 15px 30px;
        width: calc(33.3333% - 30px);
        max-width: 300px;
        min-width: 270px;
    }
    .shared-items .container {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }
}

.layout-list .shared-items .shared-item{
    margin-bottom: 20px;
    flex-direction: row;
    width: 100%;
}

.layout-map .shared-items .shared-item,
.layout-map .shared-items .shared-item a{
    width: 100%;
}


.shared-items .shared-item .image-container { 
    position: relative; 
}

.layout-grid .shared-items .shared-item .image-container {
    height: 100%;
}

.shared-items .shared-item.featured .image-container .feat-badge {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #ddbc33;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    z-index: 1;
    text-align: center;
}

.layout-list .shared-items .shared-item.featured .image-container .feat-badge {
    font-size: 12px;
}

.layout-map .shared-items .shared-item.featured .image-container .feat-badge {
    font-size: 10px;
    width: 100%;
    padding: 0;
}

.shared-items .shared-item.featured .image-container .feat-badge i {
    font-size: 13px;
    margin-right: 5px;
}

.shared-items .shared-item .image-container a {
    display: inline;
}

.shared-items .shared-item .image-container img {
    width: 100%;
    display: block;
}

.layout-list .shared-items .shared-item .image-container,
.layout-map .shared-items .shared-item .image-container {
    flex: 1;
}

@media (min-width: 1025px) {
    .layout-list .shared-items .shared-item .image-container,
    .layout-map .shared-items .shared-item .image-container {
        flex: 1.5;
    }
}

.layout-list .shared-items .shared-item .image-container img {
    display: block;
}

.layout-map .shared-items .shared-item .image-container{overflow: hidden;}
.layout-map .shared-items .shared-item .image-container img{
    height: 100%;
    width: auto;
    position: absolute;
    max-width: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 40.063em) {
    .layout-list .shared-items .shared-item .image-container{overflow: hidden;}
    .layout-list .shared-items .shared-item .image-container img{
        height: auto;
        width: auto;
        position: absolute;
        max-width: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.layout-map .shared-items .shared-item .contents .address,
.layout-map .shared-items .shared-item .contents .address a {margin-bottom: 10px;}

.shared-items .shared-item .contents {
    position: relative;
    padding: 12px 15px;
    text-align: left;
    background-color: #f9f7f6;
}

.layout-grid .shared-items .shared-item .contents {
    height: 100%;
}

@media (min-width: 641px) {
    .layout-list .shared-items .shared-item .contents {
        padding: 20px;
    }
}

@media (min-width: 1025px) {
    .layout-grid .shared-items .shared-item .contents {
        padding: 20px 15px;
    }
}

.shared-items .shared-item .contents::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 5px);
    border-left: 1px solid #a09e9d;
    border-right: 1px solid #a09e9d;
    border-bottom: 1px solid #a09e9d;
}

.layout-list .shared-items .shared-item .contents::before,
.layout-map .shared-items .shared-item .contents::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 1px solid #a09e9d;
}

.shared-items .shared-item.featured .contents {
    background-color: #ebe6e1;
}

.layout-list .shared-items .shared-item .contents,
.layout-map .shared-items .shared-item .contents {
    position: relative;
    display: block;
    flex: 2;
}

.layout-map .shared-items .shared-item .contents {
    padding: 10px 15px;
    margin-left: auto;
}

.shared-items .shared-item .contents h2 {
    line-height: 22px;
    margin: 0 0 5px;
    font-family: 'Crimson Text', serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

@media (min-width: 1025px) {
    .layout-grid .shared-items .shared-item .contents h2 {
        font-size: 23px;
        line-height: 27px;
    }
}

.shared-items .shared-item .contents h2 a {
    color: #1d1d1d;
}

.layout-list .shared-items .shared-item .contents h2,
.layout-map .shared-items .shared-item .contents h2 {
    font-size: 16px;
    text-align: left;
}

.shared-items .shared-item .contents .address,
.shared-items .shared-item .contents .address a {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    color: #413e3b;
    font-weight: normal;
}

.shared-items .shared-item .contents .address {
    padding-left: 21px;
    position: relative;
}

.shared-items .shared-item .contents .address i {
    position: absolute;
    top: 5px;
    left: 2px;
    color: #589580;
}

@media (min-width: 641px) {
    .layout-list .shared-items .shared-item .contents h2 {
        font-size: 24px;
    }
}

@media (max-width: 640px) {
    .layout-map .shared-items .shared-item .contents h2 {font-size: 14px;}
    .layout-map .shared-items .shared-item .contents .address,
    .layout-map .shared-items .shared-item .contents .address a { font-size: 12px;}
}

.shared-items .shared-item .contents .address.distance,
.shared-items .shared-item .contents .address.distance a {
    margin-bottom: 0;
}

.layout-list .shared-items .shared-item .contents .address,
.layout-map .shared-items .shared-item .contents .address {
    text-align: left;
}

.layout-map [data-sv-items-wrapper] {
    display: none !important;
}

.pagination-container.top-container .pager {
    display: none;
}

.pagination-container ul.pagination {
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: auto;
    font-size: 16px;
    line-height: 26px;
}

.pagination-container ul.pagination li {
    color: #413e3b;
    margin: 0;
    font-size: inherit;
}

.pagination-container ul.pagination .tally {
    margin: 0 15px;
}

.pagination-container.top-container,
.pagination-container.bottom-container {
    padding: 15px;
    background-color: white;
}

.pagination-container.bottom-container {
    padding-top: 0;
}

.pagination-container ul.pagination li a {
    border-radius: 0;
    transition: none;
    color: #589580;
    font-size: 17px;
    font-weight: 600;
    padding: 0;
}

.pagination-container.bottom-container .pagination { padding-bottom: 30px; }

.pagination .pager {
    text-align: center;
}

.pagination .pager a.disabled {
    color: #413e3b;
    opacity: 0.3;
    cursor: default;
}

.pagination .pager ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination .pager li {
    display: inline-block;
    font-size: 16px;
    padding: 0 5px;
}

@media (min-width: 1025px) {
    .pagination-container.mobile {
        display: none;
    }
}

.listings-bottom {
    background-color: #fff;
}

@media only screen and (min-width: 40.063em) {
    .results {
        text-align: left;
    }
}

@media only screen and (min-width: 64.063em) {
     .layout-list .shared-items .shared-item .contents{flex : 4.5;}
    .layout-list .shared-items .shared-item .contents h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .listings-bottom {
        border-bottom: 1px solid #a09e9d;
    }

    ul.options {
        display: flex;
        align-items: center;
        text-align: left;
    }


    ul.options li.sort-disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .results-wrapper {
        margin-left: 320px;
    }
    .results {
        padding: 30px 30px 0;
    }
    .results .spacer {
        display: block;
        width: 100%;
        height: 20px;
    }
    .filters-wrapper {
        display: block;
    }
    .mobile-options {
        display: none;
    }
    .pagination-container.bottom-container .pagination {
        padding-bottom: 10px;
    }
    ul.options > li.sort-title,
    ul.options > li.pagination { padding-left: 50px; }
    
    ul.options > li.sort-title:first-child {
        margin-left: 0;
    }

    .filters .close {
        display: none;
    }

    ul.options {
        padding: 0 45px;
    }

    ul.options > li.sort-title,
    ul.options > li.pagination {
        margin-left: auto;
    }
    
    .pagination-container.top-container .pager { display: block; }
}

@media (min-width: 1025px) and (max-width: 1300px) {
    ul.options {
        padding: 0;
    }
    ul.options > li.sort-title, 
    ul.options > li.pagination {
        padding-left: 20px;
    }
    .results-wrapper {
        margin-left: 280px;
    }
    .desktop-filters .filters-wrapper {
        width: 280px;
    }
}

@media (min-width: 1025px) and (max-width: 1100px) {
    ul.options > li.sort-title, 
    ul.options > li.pagination {
        padding-left: 10px;
    }
    ul.options > li.title, 
    ul.options > li.sort-title {
        font-size: 13px;
    }
    ul.options > li > a {
        padding: 11px 8px 9px;
    }
}

@media only screen and (max-width: 64em) {
    .layout-list .shared-items .shared-item .contents .address { margin-bottom: 0; }
}

.shared-map-container {
    display: none;
}

.layout-map .results{
    padding: 0;
}

.layout-map .shared-map-container {
    position: relative;
    display: block;
}

.layout-map .shared-items .container{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 145px);
}

@media (max-width: 1025px) {
    .layout-map .shared-items .container{
        height: calc(100% - 132px);
    }
}

@media (max-width: 640px) {
    .layout-map .shared-items .container{
        height: calc(100% - 127px);
    }
}

.layout-map .shared-items{margin-bottom: 0;}

.shared-map .gMapContainer,
.shared-map .gMapHolder {
    width: 100%;
    min-height: calc(100vh - 47px);
}

.shared-map-container .item-list-header {
    padding: 20px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
}
.shared-map-container .item-list-header h3 {
    margin: 0;
}

.shared-map-container .map-counter{
    display: inline-block;
    font-size: 16px;
    padding: 0 5px;
    text-align: right;
    transform: translateY(30%);
    flex: 2;
}

@media (max-width: 640px) {
    .shared-map-container .item-list-header h3 {
        font-size: 22px;
        font-weight: 600;
    }
    .shared-map-container .map-counter{
        font-size: 12px;
        transform: none;
    }
}

.shared-map-container .shared-items {
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    margin: 10px 15px 30px;
    width: 100%;
    max-width: 350px;
    height: calc(100% - 51px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    transition: all ease .5s;
}
@media (max-width: 1025px) {
    .shared-map-container .shared-items {
        border-radius: 0px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
} 

.shared-map-container .shared-items .shared-item {
    box-shadow: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    min-height: 82px;
    align-items: flex-start;
    margin: 0 5px 10px;
    width: calc(100% - 10px);
    flex-direction: row;
}

.layout-map .shared-items .shared-item .image-container {
    flex: 1;
    height: 100%;
}


@media (max-width: 1025px) {
    .shared-map-container .shared-items {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 640px) {
    .shared-map-container .shared-items {max-width: 250px;}
}

.shared-map-container .shared-items ul {
    overflow-x: visible;
    overflow-y: auto;
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
}

.shared-map-container .shared-items .buttons {
    position: relative;
    z-index: 10;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 30px;
    background-color: #413e3b;
    display: flex;
    justify-content: space-evenly;
}
.shared-map-container .shared-items .buttons button {
    display: block;
    background-color: #64513d;
    color: #fff;
    text-align: center;
    padding: 3px 40px;
    border-radius: 3px;
    margin: 0 30px;
}

@media (max-width: 1025px) {
    .shared-map-container .shared-items .buttons button { padding: 3px 25px;}
}

.shared-map-container .shared-items li {
    padding-bottom: 0 !important;
    display: flex;
}

.shared-map-container [data-sv-open-map]{display: inherit;}
