.header-section .top-header .search-cont i {
    color: #589580;
}

.header-section .top-header .search-cont {
    margin-left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-section .desktop-search {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: calc(100% - 5px); 
   background-color: #589580;
   z-index: 1000;
   display: flex;
   align-items: center;
   transition: opacity 0.4s;
   opacity: 0;
   pointer-events: none;
}

.header-section.search-active .desktop-search {
    opacity: 1;
    pointer-events: all;
}

.header-section .desktop-search .primary-search-form {
    position: relative;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    padding: 0 150px 0 0;
}

.header-section .desktop-search .primary-search-form .close-search {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #1d3b3e;
    font-size: 20px;
}

.header-section .desktop-search .primary-search-form .close-search:focus {
    outline: 0;
}