/*
|-----------------------------------------------------------------------------------------------------------
| INTERIOR HEADERS
|-----------------------------------------------------------------------------------------------------------
*/

.header-slideshow-int {
	margin-bottom: 20px;
}

.header-slideshow-int .item {
    position: relative;
}

.header-slideshow-int .item .img-cont {
    position: relative;
}

.header-slideshow-int .item .img-cont img {
    display: block;
    width: 100%;
}

.header-slideshow-int .item .img-cont::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%);
}

.header-slideshow-int .item .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 15px 20px;
}

.header-slideshow-int .item .slide-content h5 {
    font-size: 24px;
    color: white;
}

.header-slideshow-int .item .slide-content .desc {
    color: white;
    display: none;
}

.header-slideshow-int .item .slide-content .slide-link {
    color: white;
}

@media (min-width: 1025px) {
    .header-slideshow-int .item .slide-content {
        padding: 0 35px 35px;
    }
    .header-slideshow-int .item .slide-content .desc {
        display: block;
    }
    .header-slideshow-int .item .slide-content h5 {
        font-size: 26px;
        margin: 0 0 5px;
    }
}